$color-red: #DC143C;
$color-green: #228B22;
$color-blue: #1E90FF;
$color-yellow: #FFD700;
$color-purple: #800080;
$color-orange: #FF8C00;
$color-white: #FFF;
$color-black: #333;
%fa{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
%fontello{
  font-family: "fontello";
}




// .pxg-guide-h, .pxg-guide-v{
//   border-color: $color-red;
// }
// .pxg-guide-h, .pxg-guide-v{
//   .pxg-color-red &{ border-color: $color-red; }
//   .pxg-color-blue &{ border-color: $color-blue; }
//   .pxg-color-green &{ border-color: $color-green; }
//   .pxg-color-yellow &{ border-color: $color-yellow; }
//   .pxg-color-purple &{ border-color: $color-purple; }
//   .pxg-color-orange &{ border-color: $color-orange; }
//   .pxg-color-white &{ border-color: $color-white; }
//   .pxg-color-black &{ border-color: $color-black; }
// }



